{% extends 'base.html' %}
{% load static %}
{%block content%}

<div class="block_div" style="display: flex; justify-content: center; align-items: center;" >
    {%if user.is_authenticated%}
        <div class="welcome_message_box">
            <div id="welcome_message">Welcome {{user.username}}</div>
            <!--<h2 id="welcome_message"> You have {{mission_count}} mission(s) to done!</h2>-->
        </div>
    {%else%}


<div class="container" style="width: 80%; display: flex; align-items: center; justify-content: center;">
    <form action="/login/" style=" margin-inline: 20%; " method="POST" class="signup_form">
        
        {% csrf_token %}

        

        <div class="form-label">
            <label class="label_text" for="id_username">Username:</label>
        </div>
        <div class="signup_inputs">            
            <input class="signup_input_text" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
        </div>
        

        <div class="form-label">
            <label class="label_text" for="id_password">Password:</label>
        </div>
        <div class="signup_inputs">            
            <input class="signup_input_text" type="password" name="password" autocomplete="current-password" required="" id="id_password">
        </div>
        

        <button type="submit" class="btn btn-primary login_button" style="margin-top: 2rem;">Login</button>
    </form>


</div>
</div>
{%endif%}

{%endblock%}