{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="block_div">
    <div class="container">
        <div class="main-content" style="margin-top: 100px">
            <div class="flex-container" style="  display: flex;  flex-wrap: wrap;">
                {% for post in posts %}
                    <div class="flex-item" style="flex: 10 10 auto;  height: fit-content; min-height: 500px;">
                        <div class="card" style="width: 18rem; margin: 1rem; " >
                            {% if post.specs.image_added %}
                                <!-- burada post.image in none olup olmadigi kontrol edip daha sonra delete isi kontrol edilcek , bilgiler ust uste biniyor orada-->
                                <img src="{{ post.image.uploaded_url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.specs.title }}</h5>
                                    <p class="card-text">{{ post.specs.index }}</p>
                                    <p style="text-align: end; padding-right: 1rem; font-size:large; font-style: italic;" class="card-text"> pushed_by {{ post.specs.who_pushed}}</p>
                                </div> 
                
                            {% else %}
                                <div class="card-body" id="card-body-without-image">
                                    <h5 class="card-title">{{ post.specs.title }}</h5>
                                    <p class="card-text">{{ post.specs.index }}</p>
                                    <p style="text-align: end; padding-right: 1rem; font-size:large; font-style: italic;" class="card-text"> pushed_by {{ post.specs.who_pushed}}</p>
                                </div>
                            {% endif %}
                            <div class="card-body" style="border-bottom-left-radius: 2rem; border-bottom-right-radius: 2rem;">
                                
                                {% if post.specs.who_pushed == request.user.username %}
                                    <a href="{% url 'app_blog:delete_post' gen_code=post.generated_code %}" class="btn btn-dark ">delete</a>
                                    <!--  <a href="#" class="card-link">like(disabled)</a> -->
                                {% endif%}
                                
                            </div>
                        </div>
                    </div>          
                {% endfor %}
            </div>
        </div>
            
        <div class="sidebar sticky">
            <!-- Your sidebar content here -->
            <div class="grid-container" style="display: grid; grid-template-columns:auto auto; grid-auto-columns: auto;">
                {% for suggest in suggests_follow%}
                    <span class="grid-item"><h4 id="suggest_username">{{suggest.username}}</h4></span> 
                    <form action="" method="POST" style="width: 70px; margin-inline: auto;">
                        <span class="grid-item"><a   class="btn btn-dark" href="{% url 'app_blog:follow_unfollow' username=suggest.username %}" type="submit"> follow </a></span>
                    </form>
                {%endfor%} 
            </div>

            <div class="grid-container" style="display: grid; grid-template-columns:auto auto; grid-auto-columns: auto;">
                {% for suggest in suggests_unfollow%}
                    <span class="grid-item"><h4 id="suggest_username">{{suggest.username}}</h4></span>
                    
                    <form action="" method="POST" style="width: 70px; margin-inline: auto;">
                        <span class="grid-item"><a class="btn btn-dark"   href="{% url 'app_blog:follow_unfollow' username=suggest.username %}" type="submit"> unfollow </a></span>
                    </form>
                {%endfor%} 
            </div>
        </div>
    </div>

</div>

{% endblock%}